:root {
    --color-text :#757575; 
}

* {
    padding: 0px;
    /* box-sizing: border-box; */
}

/*footer*/

.footer {
    background-color: black;
    color: var(--color-text);
    width: 100%;
    height: auto;
    padding: 75px 45px;
}

.footer a li {
    color: var(--color-text);
   
}

.footer a {
    color: var(--color-text);
   
}
.footer h4 {
    font-size: 19px;
    color: var(--color-text);
}

.footer-ul {
    width: 100%;
    height: auto;
    padding: 30px 45px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-ul ul {
    list-style-type: none;
}

/* .footer-ul ul li{
    font-size: 13px;
} */

h4 {
    padding-left: 2.5rem;
}

#senegal {
    padding-left: 2.5rem;
    font-size: 0.9em;
    color: var(--color-text);
}

@media (max-width : 614px ) {
    .footer-ul {
        width: 100%;
        height: auto;
        padding: 30px 20px;
        
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: space-between;
        
    }

    li{
        text-align: left;
        color: var(--color-text);
    }
    .footer {
        background-color: black;
        color: var(--color-text);
        width: 100%;
        height: auto;
        padding: 75px 45px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }

    h4 {
        padding-left: 20px;
        color: var(--color-text);
    }

    #senegal {
        padding-left: 20px;
        font-size: 0.9em;
        color: var(--color-text);
    }
}